services:
  - type: web
    name: learnai-app
    env: python
    region: frankfurt
    plan: free
    branch: main
    buildCommand: "pip install -r requirements.txt"
    startCommand: "cd backend && gunicorn --bind 0.0.0.0:$PORT --workers 1 --timeout 600 app:app"
    envVars:
      - key: PYTHON_VERSION
        value: 3.12.0
      - key: SECRET_KEY
        generateValue: true
      - key: JWT_SECRET_KEY
        generateValue: true
      - key: DEBUG
        value: False
